/* common shared styles */
body{
    font-family: "Lato", sans-serif ;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    
}
/* text orange color */
.text-orange{
    color: #FD6E0A;
}
/* button style */
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;

}

/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* nav option right text */
nav > ul{
    display: flex;
    align-items: center;
    margin: 0 150px;
}
/* nav list style */
nav li {
    list-style: none;
    margin-right: 50px;
}
/* nav a style */
nav a{
    text-decoration: none;
    color: #474747;
}
/* nav title text left */
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    margin-left: 121px;
    margin-top: 61px;
}

/* header related styles */
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 750px;

}
/* header banner */
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* header banner profile image */
.profile-pic{
    width: 500px;
    
}
/* header banner text content left*/
.banner-content{
    max-width: 500px;
}
/* banner greeting */
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
/* banner title */
.banner-title{
    font-size: 85px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 20px;
}
